<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.meglermonitor.startup</string>
    
    <key>Program</key>
    <string>/Users/yousra/MeglerMonitor/startup.sh</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/yousra/MeglerMonitor</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/Users/yousra/MeglerMonitor/startup.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/yousra/MeglerMonitor/startup.log</string>
</dict>
</plist>